*{
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(
    rgb(148, 8, 8),
    rgb(53, 3, 3)
     );
    color: white;
    display: flex;
    flex-direction: column;
}
.tituloAlbum{
    font-size: 3rem;
    text-align: center;
}

.imagem{
    display: flex;
    justify-content: center;
}

.nomeMusica{
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}
#button-container {
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
    font-size: 30px;
}

